#tabs { background: blue; padding-top: 20px; padding-left: 20px;}
#tabs button { width: 150px; margin-right: 10px; height: 30px; border-bottom: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
#content {padding: 25px;}
#content h1 {margin-top: 5px; font-size:x-large;}


/* dialer */
#Dname { font-size: x-large; text-align: left; width: 90%;}
#Dialerkey button { margin-top: 15px; margin-right: 10px; width: 130px; height: 60px; font-size: x-large; }
#Dialer_controls button {margin-top: 10px; margin-right: 10px; width: 203px; height: 60px; font-size: x-large;}

/* contact list */
#contentList button { margin-top: 10px; height: 40px;}

/* add contact */
#contentAdd label { margin-top: 20px;}
#contentAdd button { margin-top: 10px; margin-right: 10px;}
#contentAdd input { width: 300px;}

#lowVisionToggle { margin-top: 10px; font-size:large;}
